<app-header></app-header>
<div class="container profile-page">
    <div class="row profile-head">
        <div class="col-md-4">
            <div class="profile-main-container">
                <div class="profile-container center-div">
                    <img [src]="userProfile?.profilePic || 'assets/images/default-profile-pic.jpeg'" class="img-fluid"/>
                    <button type="button" class="btn btn-primary btn-submit profile-btn" (click)="fileInput.click()">+</button>
                    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            Username<p>{{userProfile?.username}}</p>
            Email<p>{{userProfile?.email}}</p>
            <div class="row">
                <div class="col-md-4">
                    Posts<p>{{userProfile?.postCount}}</p>
                </div>
                <div class="col-md-4">
                    Followers<p>{{userProfile?.followers}}</p>
                </div>
                <div class="col-md-4">
                    Following<p>{{userProfile?.following}}</p>
                </div>
            </div>
            Full Name<p>{{userProfile?.fullName}}</p>
            Description<p>{{userProfile?.description}}</p>
        </div>
    </div>
    <div class="row">
        posts list
    </div>
</div>
