<app-header></app-header>
<div class="container profile-page">
    <div class="row profile-head">
        <div class="col-md-4">
            <div class="profile-main-container">
                <div class="profile-container center-div">
                    <img [src]="userProfile?.profilePic || 'assets/images/default-profile-pic.jpeg'" class="img-fluid"/>
                    <div *ngIf="userProfile?.selfUser;">
                        <button type="button" class="btn btn-primary btn-submit profile-btn" (click)="fileInput.click()">+</button>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row username-row">
                <div class="col-md-3">
                    <div *ngIf="userProfile?.verified; else notVerified">
                        {{userProfile?.username}}
                        <img src="assets/images/verified-pic.jpeg" class="img-fluid verified-img"/>
                    </div>
                    <ng-template #notVerified>
                        <div>
                            {{userProfile?.username}}
                        </div>
                    </ng-template>
                </div>
                <div class="col-md-9 buttons-list" *ngIf="!userProfile?.selfUser;">
                    <div *ngIf="!userProfile?.followedThisUser;">
                        <button class="btn btn-primary buttons" (click)="followUser()">Follow</button>
                    </div>
                    <div *ngIf="userProfile?.followedThisUser;">
                        <button class="btn btn-danger buttons" (click)="unfollowUser()">UnFollow</button>
                    </div>
                    <div>
                        <button class="btn btn-light buttons" [routerLink]="['/chat/',userProfile?.username]">Message</button>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    Posts
                    <p>
                        <b>{{userProfile?.postCount}}</b>
                    </p>
                </div>
                <div class="col-md-4" (click)="followers()">
                    Followers
                    <p>
                        <b>{{userProfile?.followers}}</b>
                    </p>
                </div>
                <div class="col-md-4" (click)="following()">
                    Following
                    <p>
                        <b>{{userProfile?.following}}</b>
                    </p>
                </div>
            </div>
            <p>
                <b>{{userProfile?.fullName}}</b>
            </p>
            Description<p>{{userProfile?.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="gallery">
            <div *ngFor="let post of posts" class="gallery-item">
                <img [src]="post.image" alt="Gallery Image" (click)="postView(post.id)"/>
            </div>
        </div>  
    </div>
</div>
