.profile-page{
    margin-top: 25px;
}

.profile-head{
    height: 350px;
}

.profile-main-container{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    height: 300px;
    width: 300px;
    position: relative;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.profile-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.username-row{
    height: 50px;
}

.verified-img{
    height: 20px;
    width: 20px;
}