.profile-main-container{
    height: 150px;
    display: flex;
    align-items: center;
}

.profile-container{
    height: 120px;
    width: 120px;
    position: relative;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.profile-name-container{
    padding-top: 35px;
    padding-bottom: 35px;
}

.username-paragraph{
    margin-bottom: 0px;
}

.fullName-paragraph{
    color: gray;
}

.verified-img{
    height: 20px;
    width: 20px;
}