<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="">
            <p>Search Your Friends : </p>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" [(ngModel)]="username" (keyup)="findUser()" name="username" placeholder="john_doe">
                <label for="username">Username</label>
            </div>
        </div>
    </div>
    <app-user-list-view [userList]="userList"></app-user-list-view>
</div>
